.footer {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background for better contrast */
  color: var(--accent-color);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-section {
  flex: 1 1 250px;
  min-width: 250px;
  padding-left: 10px;

}

.footer-section h4 {
  font-size: 20px;
  color: #00c3ff;
  text-transform: uppercase;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  backdrop-filter: blur(5px);
}

.footer-bottom {
  margin-top: 2cqh;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-bottom p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #888;
}

.footer-bottom-links {
  display: flex;
  padding-bottom: 10px;

  justify-content: center;
  gap: 15px;
}

.footer-bottom-links a {
  color: #fff;
  font-size: 14px;
  text-decoration: none; 
   padding-bottom: 10px;
  transition: color 0.3s ease;
}

.footer-bottom-links a:hover {
    backdrop-filter: blur(5px);
  


}

.footer-social {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.footer-social a:hover {
  transform: scale(1.2);
  backdrop-filter: blur(5px);

}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-links {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
  }

  .footer-social {
    flex-direction: column;
    gap: 5px;
  }
}
